
<style>
    .itemVedeo2 {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .showImage2 {
        width: 100%;
        margin-bottom: 20px;
    }
        .showImage2 a img {
            max-width: 200px;
            max-height: 120px;
        }

    a{
        color: white;
        text-decoration: none!important;
    }

        a:hover {
            color: #a7008f;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }
</style>
<div class="itemVedeo2">
    <div class="showImage2">
        <a href="#"><img src="https://i.ytimg.com/vi/gyWUazuJBak/hqdefault.jpg?sqp=-oaymwEWCMQBEG5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLAw2e9DGehjy-v7D5a3xEZszHOM4A" /></a>
        <a href="#"><span class="title">This is Title,This is Title This is Title, This is Title This is Title</span></a>
    </div>
</div>