
<style>
    .itemVedeo {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        border-bottom: 1px solid #808080;
    }

    .showImage {
        width: 40%;
        float: left;
    }
        .showImage a img {
            width: 100%;
            height: 120px;
        }

    .showContent {
        width: 58%;
        float: right;
    }

    h3 {
        margin: 0;
        text-overflow:ellipsis;
        max-width:100%;
    }

    .viewVedeo {
        font-size: 9px;
        font-style: initial;
    }

    a{
        color: white;
        text-decoration: none!important;
    }

        a:hover {
            color: #a7008f;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }
</style>
<div class="itemVedeo">
    <div class="showImage">
        <a href="#"><img src="https://i.ytimg.com/vi/gyWUazuJBak/hqdefault.jpg?sqp=-oaymwEWCMQBEG5IWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLAw2e9DGehjy-v7D5a3xEZszHOM4A" /></a>
    </div>
    <div class="showContent">
        <a href="#">
            <h3>This is Title,This is TitleThis is Title</h3>
        </a>
        <h6>Ngày cập nhật: 08-07-2017</h6>
        <p class="viewVedeo">Lượt xem: 100.000</p>

    </div>
</div>